#post-236 .has-very-light-gray-color {position: absolute !important;top: 90px !important;}
#post-236 .has-very-light-gray-color {}
#post-21 .has-vivid-cyan-blue-color {position: relative !important;top: -900px !important;bottom: 0 !important;}
#text-8 > .widget-title {position: absolute !important;top: 0px !important; right:100px !important;}
